.reference{
  position: fixed;
  right: 0;
  top: 0;
  height: 800px;
  width: 400px;
  overflow: auto;
}

.reference iframe{
  height: 2000px;;
}
.output{
  background-color: black;
  color: green;
  width: 400px;
  height: 600px;
  overflow: auto;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.controller{

  width: 400px;
  height: 200px;
  position: relative;
  background-color: lightgray;
}

.controller__top-buttons{
  position: absolute;
  top: 10px;
  left: 46px;
  width: 300px;
  height: 30px;
}


.controller__top-buttons #btn-l1{
  position: absolute;
  left: 0;
  width: 60px;
}
.controller__top-buttons #btn-l2{
  position: absolute;
  left: 80px;
  width: 40px;
}
.controller__top-buttons #btn-r2{
  position: absolute;
  right: 80px;
  width: 40px;
}
.controller__top-buttons #btn-r1{
  position: absolute;
  right: 0;
  width: 60px;

}

.controller__left-buttons{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 66px;
  height: 66px;
}

.controller__left-buttons #btn-dright{
  position: absolute;
  right: 0;
  top: 21px;
}
.controller__left-buttons #btn-ddown{
  position: absolute;
  left: 22px;
  bottom: 0;
}
.controller__left-buttons #btn-dup{
  position: absolute;
  top: 0;
  left: 22px;
}
.controller__left-buttons #btn-dleft{
  position: absolute;
  left: 0;
  top: 21px;
}

.controller__center-buttons{
  position: absolute;
  top: 72px;
  left: 130px;
  width: 200px;
  height: 30px;
}

.controller__right-buttons{
  position: absolute;
  top: 50px;
  right: 50px;
  width: 66px;
  height: 66px;
}

.controller__right-buttons #btn-a{
  position: absolute;
  right: 0;
  top: 21px;
}
.controller__right-buttons #btn-b{
  position: absolute;
  left: 21px;
  bottom: 0;
}
.controller__right-buttons #btn-x{
  position: absolute;
  top: 0;
  left: 21px;
}
.controller__right-buttons #btn-y{
  position: absolute;
  left: 0;
  top: 21px;
}

.controller__button{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 4px;
  background-color: white;
  color: black;
  border: 1px solid blue;
  display: inline-block;
  line-height: 16px;
  font-size: 16px;
}

.controller__button--pressed{
  background-color: green !important;
  color: white;
}

.controller__right-buttons .controller__button{
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 16px;
  border: none;
  font-weight: bold;

}

.controller__left-buttons .controller__button{
  background-color: black;
  color: white;
  border-radius: 4px;
  width: 14px;
  border: none;
  font-weight: bold;

}

.controller__center-buttons .controller__button{
  background-color: black;
  color: white;
  border-radius: 15px ;
  width: 64px;
  border: none;
  font-weight: bold;

}

.controller__top-buttons .controller__button{
  background-color: black;
  color: white;
  border-radius: 15px ;
  width: 64px;
  border: none;
  font-weight: bold;

}
